
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
}

.col-sm-3 {

    text-align: center;

    text-align: center;


    position: relative;
    float: left;
          padding: 1%;
        margin-left: 1%;
  
    
}

.face {
    width: 280px;
}

.gallery {
    text-align: center;
    margin-left: 8%;
}

/*
@media (max-width: 729px) {
    .col-sm-3 {
        padding: 2%;
        margin-left: 7%;
    }

}

@media (min-width: 730px) {
    .col-sm-3 {
        padding: 2%;
        margin-left: 7%;
    }
}*/

/*
@media (max-width:1299px) {	
    .gallery {
        width: 100%;
    }
}

@media (min-width:1300px) {	
    .gallery {
        width: 1200px;
        margin: auto;
    }
}

@media (min-width: 1450px) {
    .gallery {
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 1449px) {
    .gallery {
        width: 90%;
        margin: auto;
    }
}
*/


@media (max-width: 699px) {
    .gallery {
        width: 85%;
        margin: auto;
        align-content: center;
    }

    .col-sm-3 {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .gallery {
        width: 90%;
        margin: auto;
    }

    .col-sm-3 {
        width: 28%;
    }
}

@media (max-width: 1000px) and (max-width:1299px) {	
    .gallery {
        width: 90%;
        margin: auto;
    }
    
    .col-sm-3 {
        width: 28%;
    }
}

@media (min-width:1300px) {	
    .gallery {
        width: 1200px;
        margin: auto;
    }
    
    .col-sm-3 {
        width: 28%;
    }
}

