
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
}

.col-sm-3 {
    width: 28%;
    position: relative;
    float: left;
    padding: 0px 15px 0px 15px;
    margin: auto;
}

.face {
    width: 280px;
}

.gallery {
    align-content: center;
    text-align: left;
}

@media (min-width: 1450px) {
    .gallery {
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 1449px) {
    .gallery {
        width: 90%;
        margin: auto;
    }
}