<<<<<<< HEAD
#header {
  /*background: url("http://i1039.photobucket.com/albums/a473/thepanoplysteelband/header-bg_zpsskqowbsd.jpg") no-repeat;*/
    position: relative;
    width: 100%;
    height: 100%;

=======
header {
  background: url("http://i1039.photobucket.com/albums/a473/thepanoplysteelband/header-bg_zpsskqowbsd.jpg") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  box-sizing: border-box;
>>>>>>> e13cac5b87f3d9c1d3b52831fad836ba2955c613
}

h1 {
  
<<<<<<< HEAD
  text-transform: uppercase;


  font-size:72px;
  font-family: Helvetica;
  font-weight: bold;
  color:black;

      position: relative;
    z-index: 100;
  
}

#headerbackground {
  
      position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
=======
 

  text-align: center;
  text-transform: uppercase;

  box-sizing: border-box;
	background-size:cover;

  font-size:72px;
  color:black;
>>>>>>> e13cac5b87f3d9c1d3b52831fad836ba2955c613
}
