/*body {
    margin: 0%;
    
}

#content {
    margin: 8px;
}*/

#InnerContainer { 
    background: url("../header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% -20%;
    position:relative;
    margin: 0%;
}

#HeaderContainer {
    width: 100%;
    position:absolute;
    top:50%;
    height:100px;
    margin-top: -90px;        
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    font-weight: 700;
    color: black;
}

#Logo {
    font-size: 30px;  
    line-height: 40px;    
    padding: 5px;
}


@media (max-width: 699px) {
    #InnerContainer {
        height: 200px;
    }

    h1 {
        font-size: 50px;
        margin-top: 20%;
    }
}

@media (min-width: 700px) {
    #InnerContainer {
        height: 320px;
    }

    h1 {
        font-size: 70px;
    }
}
[20170526 21:15:46.722] Disconnect: Is seed
