
#Menu {
    /*background-color: #fe7405;*/
    color: #FFF;
}

#Wrap {
    background: #fe7405;
    padding: 0px 0px 0px 0px;
}

.container {
    padding: 0 5% 0 5%;
    width: 90%;
}

#NavWrap {
    line-height: 50px;
    z-index:10;
    position: fixed;

    background: #fe7405; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fe7405, rgba(254,116,5,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fe7405, rgba(254,116,5,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fe7405, rgba(254,116,5,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fe7405, rgba(254,116,5,0)); /* Standard syntax */

}

.navWrapOnTop {
    background-color: transparent;
    position: fixed;
}

.navWrapOnHeader {
    background-color: transparent;
    position: fixed;
}

.navWrapLeavingHeader {
    background-color: transparent;
    position: fixed;
}

.navWrapContent {
    background-color: #fe7405;
    position: fixed;
}

#Nav {
    /*padding: 5px;*/
    background-color: transparent;    
    transition-duration: 1s;
}

.navOnHeader {
    padding-top: 30px;
}
.navInContent {
    padding-top: 10px;
}

#Nav ul {
    margin: 0;
    padding: 0;    
    float: right;
}
#Nav li {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    
    padding: 10px 10px;
    background-color: transparent;
    color: #FFF;
    list-style-type: none;
    text-transform: uppercase;   
    letter-spacing: 1px; 
    margin: 0 10px 0 0;
    list-style-type: none;
}
#Nav li a {
    color: black;  
    text-decoration: none; 
    line-height: 20px;    
}
#Nav li a:hover {
   color: white;
}

#Nav li a:active {
  color: #7F4F29;
}

.selected {
    color: #2A09B2;
}

@media (max-width: 760px) {
    #Nav {
        width: 95%;
        margin: auto;
    }

    #Nav ul {
        float: left;
    }

    #NavWrap {
        width: 100%;
        margin: auto;
    }

    h1 {
        color: white;
    }
}

@media (min-width: 761px) and (max-width: 1499px) {
    #Nav {
        width: 80%;
        margin-left: 5%;
    }

    #NavWrap {
        width: 100%;
        
    }
}

@media (min-width: 1500px) {
    #Nav {
        width: 1000px;
        margin: auto;
    }

    #NavWrap {
        width: 100%;
        margin: auto;
    }
}

/*
#wrap {
    background: #222;
    padding: 0px 10px 10px 10px;
    
}

#menu {
    
    background-color: #777;
    color: #FFF;
}

#logo {
    font-size: 30px;  
    line-height: 40px;    
    padding: 5px;
}

.container {
    padding: 0 5% 0 5%;
}

#navWrap {
    line-height: 50px;
    padding: 0 5% 0 5%;
    width: 100%;
    align-content: center;
    
    background-color: #044;
    z-index:10;  
    position: fixed;
    
}

.navWrapScrolled {
    position: fixed;
    
}

#nav {
    padding-top: 30px;
    
    background: #f0f;
    
    
}

.scrolled {
    padding-top: 15px;
    padding-right: 10px;
    background: #aaa; 
    z-index:10; 
}

#nav ul {
    margin:0px;
    padding: 0;    
    float: right;
}

#nav li {    
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    padding: 10px 10px;
    background-color: transparent;
    color: #FFF;
    list-style-type: none;

    text-transform: uppercase;   
    letter-spacing: 1px; 
}

.liScrolled {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    padding: 10px 10px;
    background-color: #fe7405;
    
    list-style-type: none;

    text-transform: uppercase;   
    letter-spacing: 1px; 
}

#nav li a {
    color: #FFF;  
    text-decoration: none;   
    line-height: 20px; 
}

#nav li a:hover {
    text-decoration: underline;   
}


br.clearLeft {
    clear: left;        
}

.bigNum {
    font-size: 20px;
    color: #000;
    background: #FFF;
    padding: 2px;    
}

@media (max-width: 760px) {}

@media (min-width: 761px) and (max-width: 1499px) {
    #nav {
        width: 80%;
        margin: auto;
        
    }

    #navWrap {
        
        align-content: center;
    }
}

@media (min-width: 1500px) {
    #nav {
        width: 1200px;
        margin: auto;
        
    }
}
	

*/