
#wrap {
    background: #222;
    padding: 0px 10px 10px 10px;
    
}

#menu {
    /*background-color: #fe7405;*/
    background-color: #777;
    color: #FFF;
}

#logo {
    font-size: 30px;  
    line-height: 40px;    
    padding: 5px;
}

.container {
    padding: 0 5% 0 5%;
}

#navWrap {
    line-height: 50px;
    padding: 0 5% 0 5%;
    width: 100%;
    align-content: center;
    /*background-color: transparent;*/
    background-color: #044;
    z-index:10;  
    position: fixed;
    /*top: 0;*/
}

.navWrapScrolled {
    position: fixed;
    /*top: 0;*/
}

#nav {
    padding-top: 30px;
    /*padding-right: 10px;*/
    background: #f0f;
    /*background: #fe7405; */
    
}

.scrolled {
    padding-top: 15px;
    padding-right: 10px;
    background: #aaa; 
    z-index:10; 
}

/*.navWrapBelowHeader {
    background: #aa0;
}*/

#nav ul {
    margin:0px;
    padding: 0;    
    float: right;
}

#nav li {    
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    padding: 10px 10px;
    background-color: transparent;
    color: #FFF;
    list-style-type: none;

    text-transform: uppercase;   
    letter-spacing: 1px; 
}

.liScrolled {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    padding: 10px 10px;
    background-color: #fe7405;
    /*color: #FFF;*/
    list-style-type: none;

    text-transform: uppercase;   
    letter-spacing: 1px; 
}

#nav li a {
    color: #FFF;  
    text-decoration: none;   
    line-height: 20px; 
}

#nav li a:hover {
    text-decoration: underline;   
}


br.clearLeft {
    clear: left;        
}

.bigNum {
    font-size: 20px;
    color: #000;
    background: #FFF;
    padding: 2px;    
}

@media (max-width: 760px) {}

@media (min-width: 761px) and (max-width: 1499px) {
    #nav {
        width: 80%;
        margin: auto;
        /*margin:0 10% 0 10%;*/
    }

    #navWrap {
        /*width: 80%;*/
        align-content: center;
    }
}

@media (min-width: 1500px) {
    #nav {
        width: 1200px;
        margin: auto;
        
    }
}
	

/*#navWrap {
    background-color: #feaa88;
	
}*/
