
.socnet {
    float: left;
    margin: auto;

}

#facebook-root {
    width: 50%;
    height: 700px;
}

#FacebookIframe {
    
    width: 100%;
    height: 700px;
    border: none;
}


#youtube-root {
    width: 50%; 
    height: 700px;
    
}

#YoutubeIframe {
    width: 100%; 
    height: 700px;
    
}




/*
@media (min-width: 1100px) {

}

@media (min-width: 800px) and (max-width: 1099px) {

}

@media (max-width: 799px) {

}*/