
.socnet {
    float: left;
    margin: auto;
}

.socnetiframe {
    height: 700px;   
}

#facebook-root {
    text-align: right;
}

#Youtube-Root {
    text-align: left;
}

@media (min-width: 1000px) {
    .socnetiframe {
        width: 500px;
    }

    .socnet{
        width: 50%;
    }
}

@media (min-width: 500px) and (max-width: 999px) {
 
    .socnetiframe {
        width: 100%;
    }

    .socnet{
        width: 42%;
    }
}

@media (max-width: 499px) {
    .socnetiframe {
        width: 100%;
    }

    .socnet{
        width: 85%;
        margin: auto;
    }

}




/*
@media (min-width: 1100px) {

}

@media (min-width: 800px) and (max-width: 1099px) {

}

@media (max-width: 799px) {

}*/