/*body {
   
   font: 12px/1.4em Arial,sans-serif;
}
*/
#wrap {
   margin: 10px auto;        
   background: #666;
   padding: 10px;
   width: 700px;
}
h1 {
  
  background: url("http://i1039.photobucket.com/albums/a473/thepanoplysteelband/header-bg_zpsskqowbsd.jpg") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  font-size:96px;
  color:black;
}


/*#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}*/
#navWrap {
   height: 30px;
}
#nav {
   padding: 5px;
   background: #fe7405;    
}
#nav ul {
   margin: 0;
   padding: 0;    
}
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #fe7405;
   margin: 0 10px 0 0;
   color: fe7405;
   list-style-type: none;
}
#nav li a {
   color: #fff;  
   text-decoration: none;    
}
#nav li a:hover {
   text-decoration: underline;   
}
br.clearLeft {
   clear: left;        
}​
a:active {
  
  font-weight: bold
}

.divider {  
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  height: 200px;
}

@media (max-width:1049px) {	
	.row {

	}
	#fb-root, #oursound-root {
		display:block;
		margin:auto;
		width: 500px;
	}
}

@media (max-width: 549px) {
	#fb-root, #oursound-root {
		width: 85%;
	}
}

*/

