body {
    margin: 0%;
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    
}

#content {
    margin: 8px;
}

/* HEADER */
#InnerContainer { 
    background: url("../header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% -20%;
    position:relative;
    height: 320px;
    margin: 0%;
}

#HeaderContainer {
    width: 100%;
    position:absolute;
    top:50%;
    height:100px;
    margin-top: -90px;        
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    font-size: 70px;
    font-weight: 700;
    color: black;
}

#logo {
    font-size: 30px;  
    line-height: 40px;    
    padding: 5px;
}
/* /HEADER */

/* MENU */

/* /MENU */

/* SocnetIcons */

a img {
    display: inline;
    margin: auto;
    width:32px;
    height:32px;
    border:0;
    padding:5px;
}


.socneticon {
    text-align: center;
    align-content: center;
    display: inline-block;
    margin:auto;

}

#SocnetIcons {
    
    margin: auto;
    align-content: center;
}

@media (min-width: 1100px) {
    .socneticon {
        display: inline-block;
        width: 20%;
        
    }

    #SocnetIcons {
        width: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 1099px) {
    .socneticon {
        display: inline-block;
        margin:auto;
        width: 20%;
    }
}

@media (max-width: 799px) {
    .socneticon {
        display: inline-block;
        margin:auto;
        width: 20%;
    }

}

@media (max-width: 1099px) {
    #SocnetIcons {
        width: 80%;
    }
}


/* /SocnetIcons */

/* DIVIDERS */



.divider {  
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  height: 200px;
  padding: 20px;
  padding-top: 60px;
  text-transform: uppercase;

}

#AboutDivider {
    background: url('http://i1039.photobucket.com/albums/a473/thepanoplysteelband/11163790_508440289315296_6116540000048146353_n_zps5whcchgz.jpg');
}



/* /DIVIDERS */

.bigNum {
    font-size: 20px;
    color: #000;
    background: #FFF;
    padding: 2px;    
}

br.clearLeft {
   clear: left;        
}​




