body {
    margin: 0%;
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    
}

#content {
    margin: 8px;
}

/* HEADER */
#InnerContainer { 
    background: url("../header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% -20%;
    position:relative;
    height: 320px;
    margin: 0%;
}

#HeaderContainer {
    width: 100%;
    position:absolute;
    top:50%;
    height:100px;
    margin-top: -90px;        
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family:   sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
    font-size: 70px;
    font-weight: 700;
    color: black;
}

#logo {
    font-size: 30px;  
    line-height: 40px;    
    padding: 5px;
}
/* /HEADER */

/* MENU */
#menu {
    /*background-color: #fe7405;*/
    color: #FFF;
}

#wrap {
    background: #fe7405;
    padding: 0px 0px 0px 0px;
}

.container {
    padding: 0 5% 0 5%;
    width: 90%;
}

#navWrap {
    line-height: 50px;
    z-index:10;
    position: fixed;
}

.navWrapOnTop {
    background-color: transparent;
    position: fixed;
}

.navWrapOnHeader {
    background-color: transparent;
    position: fixed;
}

.navWrapLeavingHeader {
    background-color: #fe7405;
    position: fixed;
}

.navWrapContent {
    background-color: #fe7405;
    position: fixed;
}

#nav {
    /*padding: 5px;*/
    background-color: transparent;    
    transition-duration: 1s;
}

.navOnHeader {
    padding-top: 30px;
}
.navInContent {
    padding-top: 10px;
}

#nav ul {
    margin: 0;
    padding: 0;    
    float: right;
}
#nav li {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    
    padding: 10px 10px;
    background-color: transparent;
    color: #FFF;
    list-style-type: none;
    text-transform: uppercase;   
    letter-spacing: 1px; 
    margin: 0 10px 0 0;
    list-style-type: none;
}
#nav li a {
    color: #FFF;  
    text-decoration: none; 
    line-height: 20px;    
}
#nav li a:hover {
   color: #000;
}

a:active {
  color: #a0a;
  font-weight: bold;
}

@media (max-width: 760px) {
    #nav {
        width: 95%;
        margin: auto;
    }

    #nav ul {
        float: left;
    }

    #navWrap {
        width: 100%;
        margin: auto;
    }

    h1 {
        color: white;
    }
}

@media (min-width: 761px) and (max-width: 1499px) {
    #nav {
        width: 80%;
        margin-left: 5%;
    }

    #navWrap {
        width: 100%;
        
    }
}

@media (min-width: 1500px) {
    #nav {
        width: 1200px;
        margin: auto;
    }

    #navWrap {
        width: 100%;
        margin: auto;
    }
}


/* /MENU */

/* SocnetIcons */

a img {
    display: inline;
    margin: auto;
    width:32px;
    height:32px;
    border:0;
    padding:5px;
}


.socneticon {
    text-align: center;
    display: inline-block;
    margin:auto;
    width: 20%;

}

@media (min-width: 1100px) {
    .socnet {
        width: 33%;
        margin: auto;
    }

    /*.socneticon {
        display: inline-block;
        margin:auto;
        width: 20%;
    }*/
}

@media (min-width: 800px) and (max-width: 1099px) {
    .socnet {
        width: 50%;
        margin: auto;
    }

    /*.socneticon {
        display: inline-block;
        margin:auto;
        width: 20%;
    }*/
}

@media (max-width: 799px) {
    .socnet {
        width: 80%;
        margin: auto;
    }

    /*.socneticon {
        display: inline-block;
        margin:auto;
        width: 20%;
    }*/

}


/* /SocnetIcons */

/* DIVIDERS */



.divider {  
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  height: 200px;
  padding: 20px;
  text-transform: uppercase;

}

#AboutDivider {
    background: url('http://i1039.photobucket.com/albums/a473/thepanoplysteelband/11163790_508440289315296_6116540000048146353_n_zps5whcchgz.jpg');
}



/* /DIVIDERS */

.bigNum {
    font-size: 20px;
    color: #000;
    background: #FFF;
    padding: 2px;    
}

br.clearLeft {
   clear: left;        
}​




@media (max-width:1049px) {	
	/*.row {

	}*/
	#fb-root, #oursound-root {
		display:block;
		margin:auto;
		width: 500px;
	}
}

@media (max-width: 549px) {
	#fb-root, #oursound-root {
		width: 85%;
	}
}


